
.alert-container {
  margin: 15px;
  display: flex;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50vh;
  background-color: #f1f1f1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.symbol-container {
  width: 86px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.symbol {
  font-size: 1.75rem;
}

.description-container {
  font-size: 1.05rem;
  margin: 15px 20px;
  width: 100%;
}

.description-title {
  font-weight: 700;
}

.symbol-close-link {
  font-size: larger;
  display: flex;
  background-color: transparent;
  margin-top: 0;
  height: 25px;
  border: none;
  width: 30px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}


.symbol-close-link:hover{
  background-color: red;
  color: white;
}